.div1 {

    background-color: lightblue;
    width: 550px;
    height: 450px;
}

.div2 {

    background-color: lightsalmon;
    width: 300px;
    height: 250px;

}

.div11 {

    background-color: teal;
    width: 450px;
    height: 150px;

}

.div22 {

    background-color: blue;
    width: 100px;
    height: 70px;

}

.box3 {

    background-color:grey;
    width: 680px;
    height: 500px;

}

.box31 {

    background-color:yellow;
    width: 450px;
    height: 300px;


}